.preview.formatted-text {
	max-width: 810px;
	padding: 0px 20px !important;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 1.6em;
	min-height: 440px;
	color: #333;
	text-align: left;
	margin-bottom: 170px !important;

	h1,
	h2,
	h3 {
		margin-top: 1em;
		word-wrap: break-word;
	}

	h1 {
		line-height: 1.1em;
		margin-bottom: 1em;
		text-align: center;
		font-size: 3em;
	}

	h2 {
		line-height: 1.1em;
		margin-bottom: .5em;
		font-size: 2em;
	}

	h3 {
		line-height: 1.1em;
		margin-bottom: .6em;
		font-size: 1.4em;
	}

	p,
	ul,
	ol,
	pre {
		line-height: 1.45em;
	}
	p,
	details {
		margin-bottom: 17.6px;
	}
	ul,
	ol {
		padding-left: 25px;
	}

	ul {
		list-style-type: disc;
	}

	ul ul {
		list-style-type: circle;
	}

	a {
		color: #448ac9;
		text-decoration: none;
	}
	a:hover,
	a:focus,
	a:active {
		text-decoration: underline;
	}

	em {
		opacity: 1;
		font-style: italic;
	}

	code {
		background-color: rgb(242, 242, 242);
		border-radius: 3px;
		padding: 5px 12px;
		display: block;
		white-space: pre;
		overflow: auto;
	}
}

/* hide image preview during loading or if it renders fine */
.icon-loading .text-preview,
.preview .text-preview:not(.default-overridden) {
	display: none !important;
}
