.preview {
	max-width: 810px;
	padding: 0px 20px !important;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 1.6em;
	min-height: 440px;
	color: #333;
	text-align: left;
	margin-bottom: 170px !important;
}

.preview h1,
.preview h2,
.preview h3 {
	margin-top: 1em;
	word-wrap: break-word;
}

.preview h1 {
	line-height: 1.1em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 3em;
}

.preview h2 {
	line-height: 1.1em;
	margin-bottom: .5em;
	font-size: 2em;
}

.preview h3 {
	line-height: 1.1em;
	margin-bottom: .6em;
	font-size: 1.4em;
}

.preview p,
.preview ul,
.preview ol,
.preview pre {
	line-height: 1.45em;
}
.preview p,
.preview pre {
	margin-bottom: 17.6px;
}
.preview ul,
.preview ol {
	padding-left: 25px;
}

.preview ul {
	list-style-type: disc;
}

.preview ul ul {
	list-style-type: circle;
}

.preview a {
	color: #448ac9;
	text-decoration: none;
}
.preview a:hover,
.preview a:focus,
.preview a:active {
	text-decoration: underline;
}

.preview em {
	opacity: 1;
	font-style: italic;
}

/* hide image preview during loading or if it renders fine */
.icon-loading .text-preview,
.preview .text-preview {
	display: none !important;
}

.preview code {
	background-color: rgb(242, 242, 242);
	border-radius: 3px;
	padding: 0px 2px 2px 2px;
}
