.ie8 #editor_container div{
	/* override core style.css font-size:100% that messes up the editor in IE8 */
	font-size: 12px !important;
}

#editor_controls {
	background-color: white;
	height: 44px;
	border-bottom: 2px solid #eee;

}

#editor {
	position: relative;
	display: block;
	top: 0;
	left: 0;
	z-index: 20;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#editor_container{
    position: fixed;
    top: 8%;
    left: 5%;
    width: 90%;
    height: 88%;
    z-index:1002;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: white;
}

@media(max-width: 768px) {
	#editor_container {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: none;
		margin-top: 45px;
	}
}

#editor_save, #editor_next {
	margin: 5px 0 0 7px;
	float: left;
	padding-top: 5px !important;
	height: 34px !important;
}

#editor_save.icon-loading {
	background-size: 20px;
}

#editor_close {
	float: right;
	width: 34px;
	border: none;
	background-color: transparent;
	padding: 22px !important;
	margin: 0 !important;
	border-radius: 0;
	right: 0;
}

#editor_close:hover {
	background-color: #ddd;
}

#editorcontrols > button, #editorsearchval  {
	height: 30px !important;
	margin-top: 7px;
}

#nextsearchbtn {
	padding-top: 5px !important;
	margin-top: 6px !important;
}

.viewer-mode #app-navigation+#app-content #controls {
	width: initial: !important;
}

#editor_controls small.filename {
	float: left;
	color: #555;
	font-family: inherit;
	font-size: 100%;
	padding: 12px 4px 0 14px;
	font-weight: bolder;
	text-overflow: ellipsis;
	max-width: 237px;
	overflow: hidden;
}

#editor_controls small.lastsaved {
	float: left;
	color: #ccc;
	font-family: inherit;
	font-size: 90%;
	padding: 12px 4px 0 14px;
	overflow: hidden;
}

/* This is to hide the saved time when getting narrow */
@media(max-width: 540px) {
	#editor_controls small.lastsaved {
		display: none;
	}
}

 #editor_overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}