.ie8 #editor_container div{
	/* override core style.css font-size:100% that messes up the editor in IE8 */
	font-size: 12px !important;
}

#editor_controls {
	background-color: white;
	height: 44px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#editor div.ace_gutter, #editor div.ace_scroller {
	margin-top: 46px;
}

.ace-clouds .ace_gutter {
	background: #fff;
	color: #aaa;
}

#editor {
	display: block;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#editor_wrap {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#editor_container{
    position: fixed;
    top: 8%;
    left: 5%;
    width: 90%;
    height: 88%;
    z-index:1002;
    overflow: hidden;
    background-color: #fff;
}

@media(max-width: 768px) {
	#editor_container {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border: none;
		margin-top: 45px;
	}
}

#editor_save.icon-loading {
	background-size: 20px;
}

#editor_save, #editor_next {
	height: 44px;
	border: none;
	background-color: transparent;
	margin: 0 !important;
	border-radius: 0;
	float: left;
	padding: 5px 8px;
}

div.editor_separator {
	background-color: #ddd;
	width: 1px;
	height: 24px;
	display: block;
	float: left;
	margin: 10px 6px 0;
}

div.editor_separator.close_separator {
	float: right;
	margin-right: -1px !important;
}

div.editor_separator.save_separator {
	margin-left: 9px !important;
}

#editor_close {
	float: right;
	width: 34px;
	border: none;
	background-color: transparent;
	padding: 22px !important;
	margin: 0 !important;
	border-radius: 0;
	right: 0;
}

#editor_close:hover, #editor_save:hover, #editor_next:hover {
	background-color: #ddd;
}

#editorcontrols > button {
	height: 30px !important;
	margin-top: 7px;
}

#editor_controls small.filename {
	float: left;
	color: #555;
	font-family: inherit;
	font-size: 100%;
	padding: 12px 4px 0 14px;
	font-weight: bolder;
	text-overflow: ellipsis;
	max-width: 218px;
	overflow: hidden;
}

#editor_controls small.lastsaved {
	float: left;
	color: #ccc;
	font-family: inherit;
	font-size: 90%;
	padding: 13px 10px;
	overflow: hidden;
}

/* This is to hide the saved time when getting narrow */
@media(max-width: 540px) {
	#editor_controls small.lastsaved, div.editor_separator.lastsaved_separator {
		display: none;
	}
}

 #editor_overlay{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
